{% extends 'base.html.twig' %}

{% block title %}New Taxonomy{% endblock %}

{% block body %}
    <h1>Create new Taxonomy</h1>

    {{ include('taxonomy/_form.html.twig') }}

    <a href="{{ path('taxonomy_index') }}">back to list</a>
{% endblock %}
