{% extends 'base.html.twig' %}

{% block title %}Edit Moderation{% endblock %}

{% block body %}
    <h1>Edit Moderation</h1>

    {{ include('moderation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('moderation_index') }}">back to list</a>

    {{ include('moderation/_delete_form.html.twig') }}
{% endblock %}
